{% extends 'main/base.html'%}

{% block title1%}
    О библиотеке
{% endblock%}

{% block title2%}
    О библиотеке:
{% endblock%}

{% block text%}
<div class="alert alert-warning mt-2">
    Центром культуры и распространения знаний, духовного и интеллектуального общения, обеспечивающая литературой и информацией учебный процесс и учебно-исследовательскую деятельность студентов и преподавателей является библиотека колледжа.

Работники библиотеки, организуя определенным образом информационно-коммуникативное пространство библиотеки, могут оказывать позитивное влияние на развитие личности студента в сфере профессионального самосознания.

Именно библиотека выполняет роль посредника между информационными ресурсами, способствующими профессиональному самоопределению, и студентом. Основными приоритетными направлениями нашего колледжа являются формирование профессиональной готовности, профессиональной пригодности, профессиональной направленности студентов, как будущих педагогов.



Цель библиотеки - раскрыть возможности использования информационных ресурсов в области социальных, педагогических компетенций, необходимых для профессиональной самореализации студентов. Фонд библиотеки сформирован в соответствии с типом и профилем колледжа и информационными потребностями читателей.
Общий фонд библиотеки составляет 51349 экз.
Книжный фонд - 45966 экз.
В том числе:
учебная и учебно-методическая литература - 26047 экз.
по педагогике и народному образованию 12649 экз.
художественная и детская литература - 9846 экз.
фонд периодических изданий (газеты и журналы) - 5383 экз.
</div>

{% endblock%}