{% extends 'main/base.html'%}

{% block title1%}
    Мероприятия
{% endblock%}

{% block title2%}
    Запланированные мероприятия:
{% endblock%}

{% block text%}
    <div class="alert alert-warning mt-2">
        <h4>1. Заседания книжного клуба</h4>
        <p> Где собираются любители прозы и поэзии, как не в нашей библиотеке? На страничке своей группы в соцсетях рассказывать о расписании и новых играх, квизах и квестах, которые запланировано провести в стенах книжной обители.</p>
        <h4>2. Ярмарка забытых книг</h4>
        <p>Ярмарка — это всегда буйство красок, вкусов и ароматов. А ярмарки заброшенных книг — настоящий праздник для одиноких изданий, которым хочется согреться теплом человеческих рук. Каждый тематический стол отличается — строгий, милый, страшный, волшебный, цветной или черно-белый — все зависит от литературного направления книг.</p>
        <h4>3. Ночь в библиотеке</h4>
        <p>Формат ночи в музее уже привычен многим из нас, но для того, чтобы провести ночь в библиотеке, не обязательно собираться за полночь — игру можно проводить и днем. Главное — фантазия! Представьте, что могло бы происходить в библиотеке, когда книги остаются одни... Литературные герои переходят друг с другом на ты, персонажи сказок объединяются, чтобы совершить добрые дела, а книжный дух следит за тем, чтобы в обители книг царил порядок.</p>
    </div>

{% endblock%}