{% extends 'main/base.html'%}

{% block title1%}
    {{title}}
{% endblock%}

{% block title2%}
    <form method="post" class="form-inline my-2 my-lg-0">
        {% csrf_token %}
        {{ form.title }}
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
    </form>
    <br><br><br>
    <h4>Результаты поиска:</h4>
{% endblock%}

{% block text%}
    <div class="alert alert-warning mt-2">
        <p>Автор: {{books.title}}</p>
        <p>Название: {{books.task}}</p>
    </div>
{% endblock%}